ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  li a:hover{
    background-color: rgba(67, 64, 64, 0.608);
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
  }